.Rhistory
*.gz
myname.pdf
foo.csv
*.csv
foo.py
Intermediate.txt
*.tfam
*.tped
*.md
*.R
LICENSE
*.out
*.txt
angsd_200K.file
*.bamfiles
*.png
Outfile.tsv
Results_*.tsv
PairMatrixGen.py
Grouping.py
Read_Results.tsv
*.jpg
*_Results.tsv